body{
  font-family:'Courier New',monospace;
}

h1{
  text-align:center;
}

th,td{
  background:rgb(255, 192, 197);
  width:60px;
  height:60px;
  text-align:center;
  line-height:60px;
  user-select:none;
  cursor:pointer;
}

.bingo{
  margin:auto;
}