body{
  font-family:'Courier New',monospace;
}

h1{
  text-align:center;
}

th,td{
  background:rgb(255, 192, 197);
  width:60px;
  height:60px;
  text-align:center;
  line-height:60px;
  user-select:none;
  cursor:pointer;
  margin:3px auto;
  box-shadow:0 0.3px 0 rgb(195, 147, 151);
}

.bingo{
  margin:auto;
}



#btn:hover{
  opacity:0.8;
  }
  
  #btn:active{
    box-shadow:0 0.3px 0 rgb(195, 147, 151);
    margin-top:3.7px;
  }
  

  .hyj {
    text-align:center; 
  }